{%  extends 'accounts/main.html' %}
{% load static %}



{% block content %}

<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                
                    <div class="logo" >
                        <a href="{% url 'dashboard' %}"><img src="{% static 'images\images\logo\bingo.png' %}" alt="Logo" srcset="" style="height:100px; width:140px;"></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active ">
                        <a href="{% url 'dashboard' %}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="{% url 'depositvip' %}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Deposit</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-item  ">
                    <a href="{% url 'transaction history' %}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Transaction History</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-item  ">
                        <a href="{% url 'withdrawal'%}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Withdrawal</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="{% url 't and c'%}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>T & C</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="{% url 'logout_user'%}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
        </div>
        <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <div class="page-heading">
        <h3>{{request.user.username}} welcome to the Forex, Stocks and BTC Market. </h3>
        <h5>We want you to know how we invest your money and how we trade intelligently to serve you tremendous return.</h5>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Trading chart</h4>
                                    <p>View real market statistics and see how well your money is doing.
                                        Global Market closes on weekends(Saturdays and Sundays).
                                        We work with your money from Mondays to Fridays. We start work at 6am and closes at 4pm.
                                    </p>
                                </div>
                                    
                                    <select onChange="LoadCharts();" id="pairs">
                                        <!--    <option value="BTCUSDT">BTCUSDT</option>
                                            <option value="ETHUSDT">ETHUSDT</option>-->
                                        </select>
                                        <br>
                                        <div class="tradingview-widget-container" id="tvchart"></div>
                                        </body>
                                        <script>
                                        
                                        
                                        //PASS ALL THE SYMBOLS 
                                        var sym = exchangeInfo.symbols,markup='';
                                        sym.forEach(d => {
                                            markup += '<option value="' + d.symbol + '">' + d.symbol + '</option>';
                                        });
                                        document.getElementById('pairs').innerHTML = markup;
                                        
                                        LoadCharts();    
                                        function LoadCharts(){
                                            let symbol = document.getElementById('pairs').value;
                                            //RENDER CHART
                                            new TradingView.widget(
                                            {
                                        "autosize": true,
                                        "symbol": "BINANCE:" + symbol,
                                        "interval": "5",
                                        "timezone": "Asia/Kolkata",
                                        "theme": "Light",
                                        "width": "100%",
                                        "height": "200%",
                                        "style": "1",
                                        "locale": "in",
                                        "toolbar_bg": "#f1f3f6",
                                        "enable_publishing": false,
                                        "allow_symbol_change": true,
                                        "studies": [
                                            "AwesomeOscillator@tv-basicstudies",
                                            "MACD@tv-basicstudies",
                                            "RSI@tv-basicstudies"
                                        ],
                                        "container_id": "tvchart"
                                            });
                                        }
                                            
                                        </script>
                                    
                            
                                    

                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
            </section>
        </div>
       
    </div>
</div>
{% endblock%}